body{
    margin: 0%;
    height: 100vh;
    width: 100vw;
    position: relative;

}

section{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    transition: 1s;
}
section:first-child{
    background-color: lightblue;
    z-index: 5;
}
section:nth-child(2){
    background-color: lightcoral;
    z-index: 4;
}
section:nth-child(3){
    background-color: lightgoldenrodyellow;
    z-index: 3;
}section:nth-child(4){
    background-color: lightslategray;
    z-index: 2;
}section:last-child{
    background-color: lightgreen;
    z-index: 1;
}

.scrollUp{
    transform: translateY(-100%);
}
.scrollDown{
    transform: translateY(100%);
}