*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    background-color: bisque;
}
h1{
    text-align: center;

}
section{
    width: 100vw;
    min-height: max-content;
    padding: 50px;
}